html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* opacity: 0; */
}


* {
  margin: 0;
  padding: 0;
  border: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}



.nav__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  padding: 24px 16px;
  right: -1588px;
  min-height: calc(100vh - 60px);
  min-width: 100vw;
  background-color: #eee;
  transition: all 0.3s;
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link.active {
  font-weight: bold;
}

.nav__link:hover {
  font-weight: bold;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 1600px) {
  .nav__menu-bar {
    display: block;
    padding-left: 1200px;
  }

  .nav__menu-bar {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
  }

  .nav__menu-bar div {
    width: 40px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
  }


  .nav__menu-list {
    position: unset;
    min-height: fit-content;
    width: fit-content;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
    padding-left: 500px;
    display: flex;
    justify-content: center;
  }

  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
    background-color: black;

  }

  .nav__link:hover::before,
  .nav__link.active::before {
    width: 100%;
  }

}




.ourPartner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmax;
}

.ourPartner img {
  margin: 0 1vmax;
  transition: all 0.5s;
  width: 300px;
  height: 300px;
}

.ourPartner img:hover {
  box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
}

.heading {
  /* padding-left: 1670px; */
  color: #fff;
  background-color: #3470D3;
  margin: 30px 0px;
  padding: 50px 0px;
  padding-left: 1170px;
  /* float: right; */
  justify-items: flex-end;
}


.precision,
.precision-inner-content {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 1vmax;
}

.precision-text {
  color: white;
  padding: 30px 0px;
}

/* .precision-button-left{
  float: left;


}

.precision-button-right{
  float: right;
} */

.precision-bg {
  background-image: url('../src/components/precision-bg-true.png');
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.267);
  background-blend-mode: multiply;
  padding-bottom: 100px;
}

.precision-button-left {
  padding: 30px 110px;
  margin: 0px 30px;
  font-size: 30px;
  text-decoration: none;
  background-color: black;
  color: #fff;
  transition: all 0.5s;
}

.precision-button-left:hover {
  box-shadow: 10px 10px 20px rgba(53, 53, 53, 0.363);

}

.precision-button-left a {
  text-decoration: none;
  color: #fff;
}

.precision-button-right {
  padding: 30px 90px;
  margin: 0px 30px;
  font-size: 30px;
  text-decoration: none;
  background-color: #04B454;
  transition: all 0.5s;
}

.precision-button-right:hover {
  box-shadow: 10px 10px 20px rgba(53, 53, 53, 0.363);

}

.precision-button-right a {
  text-decoration: none;
  /* margin: 0px 20px; */
  color: #fff;
  /* font-family: cursive; */
}


/* navbar animation */



.menu:before {
  content: "\2630";
}

/* ------------------Visuals--------------------- */

.menu {
  float: right;
  padding: 15px;
  cursor: pointer;
  color: #EEA300;
}

.frame {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #000000;
}

.menu_container {
  position: absolute;
  background-color: #EEA300;
  z-index: -1;
}

/* ------------------Command--------------------- */

#bgtoggle {
  display: none;
}

#bgtoggle:checked~.frame .menu {
  color: white;
}

/* ------------------Animation--------------------- */

#bgtoggle:checked~.frame .menu_container {
  animation: card-open 1000ms cubic-bezier(0.405, 0.00, 0.165, 1.000);
  width: 100%;
  height: 100%;
}


#bgtoggle~.frame .menu_container {
  animation: card-close 1000ms cubic-bezier(0.405, 0.00, 0.165, 1.000);
  width: 0px;
  height: 0px;
}




@keyframes card-close {
  0% {
    height: 3000px;
    width: 3000px;
    top: -480px;
    right: -480px;
    border-radius: 50%;
  }

  100% {
    height: 0px;
    width: 0px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
  }
}

@keyframes card-open {
  0% {
    height: 0px;
    width: 0px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
  }

  100% {
    height: 3000px;
    width: 3000px;
    top: -480px;
    right: -480px;
    border-radius: 50%;
  }
}



.menu_container {
  display: block;
  margin: 0;
  padding: 0;

  background: aliceBlue;
  overflow: hidden;

  opacity: 0;
  /* max-height: 100vh;
  min-height: 100vh; */
  /* transition: 
    max-height 0.25s cubic-bezier(0, 0.7, 0, 1), 
    opacity 0.2s ease-in-out; */
}

.open {
  opacity: 1;
  /* z-index: 999999999999999999999999999999999; */
  /* transition: max-height 0.3s ease-in-out,   */
}


/* sahu work */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.upgrade-img {
  background-image: url('../src/box.png');
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.we-got-covered-img {
  background-image: url('../src/box-2.png');
  width: 300px;
  height: 250px;
  margin-right: 20px;
}

.upgrade-main {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 80px;
  width: 100%;
  display: block;
}

.upgrade-heading {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

.upgrade-para {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
}

.btn-test {
  background-color: #F9F7E8;
  color: #3470D3;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
}

.we-got-covered {
  padding: 40px;
}

.we-got-covered-heading {
  color: #3470D3;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  padding-left: 6%;
}

.we-got-covered-inner-container {
  display: flex;
  justify-content: center;
}

.we-got-covered-inner-container>div>img {
  margin-right: 30px;
}

.we-got-covered-inner-container>div>h3 {
  width: 30vh;
}

.we-got-covered-inner-container>div>a {
  text-decoration: none;
}

.footer-center {
  display: flex;
  justify-content: center;
}

.footer-inner-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 83.5%;
  border-top: 3px solid black;
}

.footer-row-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-row-2>a {
  font-weight: 800;
  font-size: 20px;
  line-height: 35px;
  color: black;
  text-decoration: none;
}

.social-icon {
  display: flex;
  justify-content: space-around;
}

.social-icon>a {
  color: black;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-menu {
  display: flex;
  background-color: #2465ED;
  padding: 40px 150px;
  height: 100vh;
  color: #f9f7e6;
}

.nav-menu-inner-container-1 {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #f9f7e6;
  justify-content: space-between;
  padding-right: 80px;
}

.nav-menu-inner-container-2 {
  padding-left: 30px;
}

.nav-link-wrapper {
  display: flex;
  flex-direction: column;
}

.nav-link-wrapper>a {
  font-family: 'Test sohne mono', sans-serif;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  color: #f9f7e6;
}

.nav-menu-bottom-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Degular Display', sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
}

.nav-menu-bottom-btn {
  font-family: 'Degular Display', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 40px;
  background-color: transparent;
  border-radius: 60px;
  border: 2px solid #f9f7e6;
  color: #f9f7e6;
  padding: 7px 25px;
  transition: background-color .2s, color .2s;
}

.nav-menu-bottom-btn:hover {
  background-color: #f9f7e6;
  color: #141414;
}

.nav-menu-latest-news {
  display: block;
}

.nav-menu-latest-news-top-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.nav-menu-latest-news-heading {
  font-family: 'Degular Display', sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
}

.nav-menu-latest-news-link {
  color: #f9f7e6;
  text-decoration: none;
  font-family: 'Degular Display', sans-serif;
  font-size: 1rem;
  margin: 42.56px 0;
}

.nav-menu-latest-news-link:hover {
  transition: opacity .2s;
  color: #a09000;
}

.nav-menu-latest-news-main-container {
  display: flex;
  column-gap: 30px;
}

.latest-news-img {
  height: 200px;
  margin-bottom: 10px;
}

.nav-menu-latest-news-main-container-inner>h3 {
  font-family: 'Degular Display', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 10px;
}

.nav-menu-newsletter {
  border-top: 2px solid #f9f7e6;
  margin-top: 25px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-menu-newsletter>h4 {
  font-family: 'Degular Display', sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  margin: 20px 0 20px 0;
}

.form {
  padding: 15px 0;
}

.input-fields {
  background-color: rgba(249, 247, 230, .1);
  border: 1px solid #f9f7e6;
  border-radius: 60px;
  padding: 7px 25px;
  font-family: "Poppins", sans-serif;
  color: #141414;
}

.input-fields::placeholder {
  color: #809999;
}

.email-input {
  margin-top: 7px;
  width: 57.5%;
}

.join-btn {
  min-height: 40px;
  margin-bottom: 6px;
  margin-left: 12px;
  padding-right: 32px;
  padding-left: 24px;
  font-family: 'Degular Display', sans-serif;
  color: #2465ed;
  font-weight: 600;
  border: 1px solid #2465ed;
  border-radius: 100px;
  background-color: #f9f7e6;
  transition: letter-spacing .3s;
}

.join-btn:hover {
  letter-spacing: 3px;
}

.nav-menu-last-container {
  display: flex;
  margin-top: 32px;
}

.nav-menu-connect>h4 {
  font-family: 'Degular Display', sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin: 0 0 15px 0;
}

.nav-menu-social {
  color: #f9f7e6;
  padding-right: 7px;
}

.nav-menu-get-in-touch {
  margin-left: 220px;
}

.nav-menu-get-in-touch>h4 {
  font-family: 'Degular Display', sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin: 0 0 15px 0;
}

.nav-menu-get-in-touch>a {
  text-decoration: none;
  color: #f9f7e6;
  font-family: 'Degular Display', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}