html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* opacity: 0; */
}


* {
  margin: 0;
  padding: 0;
  border: none;
}

header{
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}



.nav__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  padding: 24px 16px;
  right: -1588px;
  min-height: calc(100vh - 60px);
  min-width: 100vw;
  background-color: #eee;
  transition: all 0.3s;
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link.active{
  font-weight: bold;
}

.nav__link:hover {
  font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 1600px){
  .nav__menu-bar{
    display: block;
    padding-left: 1200px;
  }

  .nav__menu-bar{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
  }
  
  .nav__menu-bar div{
    width: 40px;
    height: 4px;
    background-color: black;
    border-radius: 2px;
  }

  
  .nav__menu-list{
    position: unset;
    min-height: fit-content;
    width: fit-content;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
    padding-left: 500px;
    display: flex;
    justify-content: center;
  }

  .nav__link::before{
    content: "";
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
    background-color: black;
  
  }
  
  .nav__link:hover::before,.nav__link.active::before{
    width: 100%;
  }

}

/* text-video-style */


:root {
  --bc: #0e0d0f;
  --primary: rgb(161, 166, 252);
  --white: #ffffff;
  --black: #000000;
  /* Colors */
  --red: #da2c4d;
  --orange: #fd7e14;
  --yellow: #f8ab37;
  --yellow-bright: #ffc107;
  --light-green: #24e33a;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  /* Gray Colors */
  --bc-gray: #ede8e4;
  --gray: #9e9d9b;
  --gray-dark: #1c1a19;
  /* Gradients */
  --rainbow: linear-gradient(90deg, rgba(245,96,117,1) 0%, rgba(252,210,29,1) 14%, rgba(246,237,105,1) 28%, rgba(127,246,105,1) 43%, rgba(105,246,176,1) 55%, rgba(105,231,246,1) 69%, rgba(105,150,246,1) 85%, rgba(150,105,246,1) 100%);
  /* Sizes */
  --button: 1.22rem;
  /* Fonts */
  --font-main: "Poppins";
}
* {
  box-sizing: border-box;
  user-select: none;
  cursor: none;
  padding: 0px;
  margin: 0px;
}
/* html, body {
  margin: 0;
  width: 100%;
  font-family: var(--font-main);
  background-color: var(--bc);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
} */
/* Global classes */
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
/* Button 1 */
.button-wrapper {
  margin: 1em 0;
}
.button-svg {
  fill: var(--white);
  height: calc(var(--button) - .1rem);
}
.button, .btn-secondary {
  margin: 0;
  width: 100%;
  position: relative;
  padding: 1.2em 1.8em;
  letter-spacing: .1em;
  text-align: center;
  color: var(--bc);
  font-size: var(--button);
  /* background: var(--rainbow); */
  background-size: 500%;
  border-radius: 5em;
  border: none;
  transform: scaleX(1);
  transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button {
  transition: transform .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.button, .button .btn-secondary {
  background-position: 0 50%;
  bottom: 0;
}
.button .btn-secondary {
  left: 0;
  width: 100%;
  position: absolute;
  filter: blur(1rem);
  opacity: .65;
  z-index: -1;
  transform: scale3d(.85, .85, 1);
  transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button:focus {
  outline: none;
}
.button:hover {
  transform: scale3d(1.1, 1.1, 1);
  background-position: 100% 50%;
  outline: none;
  bottom: 2px;
}
.btn-secondary, .button:hover .btn-secondary {
  background-position: 100% 50%;
  filter: blur(1.6rem);
  bottom: -5px;
}
/* Ripple */
#text-video-h2 span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, .85); 
}
/* Ripple Animation */
@keyframes ripple {
  to {
      transform: scale(.65);
      opacity: 0;
  }
}
/* Cursor */
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  /* background-blend-mode: exclusion; */
  /* background: url("https://pixabay.com/photos/lotus-water-lily-pink-flower-flower-7063576/"); */
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform .3s cubic-bezier(.175, .885, .32, 1.175);
  z-index: 999;
  
}




/* video in a text file css */


/* .banner{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
} */

video {
      /* position: absolute; */
      /* top: 0;
      left: 0; */
      width: 80vw;
      height: 80vh;
      /* margin-top: -100px; */
      object-fit: cover;
      pointer-events: none;
      cursor: none;
      background-color: black;
      mix-blend-mode: screen;
      /* background-blend-mode: screen; */
      /* background-blend-mode: darken; */

      
      
}

/* #banner{
  visibility: hidden;

} */

/* .banner-visible{
  visibility: visible;
  display: block;

} */

#text-video-h2{
position: absolute;
width: 100%;
height: 100%;
top: 50px;
margin: 0;
font-weight: 1000;
font-size: 8vw;
top: 350px;
text-align: center;
/* mix-blend-mode: screen; */
background-color: white;
margin-top: -350px;
margin-left: -35px;
padding-top: 50px;
color: black;
}


/* span{
  margin: 0 -25px;
  color: black;
}

span:hover{
  color: black;
} */


.spacing{
  padding-left: 25px;
}


/* .spacing-extra{
  padding-left: 320px;

} */

#text-video-h2 span{
  font-kerning: initial;
  text-decoration-color: white;
  -webkit-text-fill-color: white;
  opacity: 1;
  /* background-color: black; */
  /* text-shadow: 0.5px 0.5px #000; */
  -webkit-text-stroke: 0.5px black;
  padding: 0px;
  margin: 0px;
  margin: 0px -25px;
  margin-left: 30px;
}

#text-video-h2 span:hover{
  text-decoration-color: black;
  -webkit-text-fill-color: black;
  background-color: white;
  /* text-shadow: 15px 15px #000; */
  -webkit-text-stroke: 3px black;


}










.ourPartner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmax;
}

.ourPartner   img{
  margin: 0 1vmax;
  transition: all 0.5s;
  width: 300px;
  height: 300px;
}

.ourPartner   img:hover{
  box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
}

.heading{
  /* padding-left: 1670px; */
  color: #fff;
  background-color: #3470D3;
  margin: 30px 0px;
  padding: 50px 0px;
  padding-left: 1170px;
  /* float: right; */
  justify-items: flex-end;
}


.precision,.precision-inner-content{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 1vmax;
}

.precision-text{
  color: white;
  padding: 30px 0px;
}

/* .precision-button-left{
  float: left;


}

.precision-button-right{
  float: right;
} */

.precision-bg{
  background-image: url('../src/components/precision-bg-true.png');
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.267);
  background-blend-mode: multiply;
  padding-bottom: 100px;
}

.precision-button-left{
  padding: 30px 110px;
  margin: 0px 30px;
  font-size: 30px;
  text-decoration: none;
  background-color: black;
  color: #fff;
  transition: all 0.5s;
}

.precision-button-left:hover{
  box-shadow: 10px 10px 20px rgba(53, 53, 53, 0.363);

}

.precision-button-left a{
  text-decoration: none;
  color: #fff;
}
.precision-button-right{
  padding: 30px 90px;
  margin: 0px 30px;
  font-size: 30px;
  text-decoration: none;
  background-color: #04B454;
  transition: all 0.5s;
}

.precision-button-right:hover{
  box-shadow: 10px 10px 20px rgba(53, 53, 53, 0.363);
  
}

.precision-button-right a{
  text-decoration: none;
  /* margin: 0px 20px; */
  color: #fff;
  /* font-family: cursive; */
}


/* navbar animation */




.menu:before{
  content: "\2630";
}

/* ------------------Visuals--------------------- */

.menu{
  float: right;
  padding:15px;  
  cursor: pointer;
  color: #EEA300;
}

.frame{
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #000000;
}

.menu_container{
  position: absolute;
  background-color: #EEA300;
  z-index:-1;
  width: 100%;
  height: 100vh;
}

/* ------------------Command--------------------- */

#bgtoggle{
  display: none;
}

#bgtoggle:checked ~ .frame .menu{
  color: white;
}

/* ------------------Animation--------------------- */

#bgtoggle:checked ~ .frame .menu_container {
  animation: card-open 1000ms cubic-bezier( 0.405, 0.00, 0.165, 1.000);
  width: 100%;
  height: 100%;
}


#bgtoggle ~ .frame .menu_container {
  animation: card-close 1000ms cubic-bezier(0.405, 0.00, 0.165, 1.000);
  width: 0px;
  height: 0px;
}




@keyframes card-close {
  0%{
    height: 3000px;
    width: 3000px;
    top: -480px;
    right: -480px;
    border-radius:50%;
  }
  
  100%{
    height: 0px;
    width: 0px;
    top: 15px;
    right: 15px;
    border-radius:50%;
  }
}

@keyframes card-open {
  0%{
    height: 0px;
    width: 0px;
    top: 15px;
    right: 15px;
    border-radius:50%;
  }
  100%{
    height: 3000px;
    width: 3000px;
    top: -480px;
    right: -480px;
    border-radius:50%;
  }
}



.menu_container {
  display: block;
  margin: 0;
  padding: 0;
  
  background: aliceBlue;
  overflow: hidden;
  
  opacity: 0;
  /* max-height: 100vh;
  min-height: 100vh; */
  /* transition: 
    max-height 0.25s cubic-bezier(0, 0.7, 0, 1), 
    opacity 0.2s ease-in-out; */
}
.open {
    opacity: 1;
    /* transition: max-height 0.3s ease-in-out,   */
  }


/* sahu work */


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

hr {
  width: 1160px;
  border-top: 3px solid black;
}

.upgrade-main {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 80px;
}

.upgrade-heading {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

.upgrade-para {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
}

.btn-test {
  background-color: #F9F7E8;
  color: #3470D3;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
}

.we-got-covered {
  padding: 40px;
}

.we-got-covered-heading {
  color: #3470D3;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  padding-left: 6%;
}

.we-got-covered-inner-container {
  display: flex;
  justify-content: center;
}

.we-got-covered-inner-container>div>img {
  margin-right: 30px;
}

.we-got-covered-inner-container>div>h3 {
  width: 30vh;
}

.we-got-covered-inner-container>div>a {
  text-decoration: none;
}

.footer-center {
  display: flex;
  justify-content: center;
}

.footer-inner-container {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 100px;
  width: 1160px;
}

.footer-row-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-row-2>a {
  font-weight: 800;
  font-size: 20px;
  line-height: 35px;
  color: black;
  text-decoration: none;
}

.social-icon {
  display: flex;
  justify-content: space-around;
}

.social-icon>a {
  color: black;
}

.upgrade-img{
  background-image: url('../src/box.png');
  width: 300px;
  height: 300px;
}
.we-got-covered-img{
  background-image: url('../src/box-2.png');
  width: 300px;
  height: 250px;
  margin-right: 20px;
}

/* video animations  */

body {
	font-family: sans-serif;
	/* color: white; */
}

.empty-module {
	background: #ccc;

	height: 50vh;
	width: 100%;

	margin: 50px 0;
}
.sticky-video-module .video{
    position: relative;

}

.sticky-video-module .video .boxed{
            margin: 0 auto;
			transition: 300ms ease;

			height: 100vh;
			border-radius: 5px;
			overflow: hidden;

}

.sticky-video-module .video video{
            width: 85%;
			height: 80%;
			object-fit: cover;
	padding-left:160px;

}

.sticky-video-module .video .text-scene{
    position: absolute;
			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);

}












